/* header */
.header{
    width: 1226px;
    display: flex;
    margin: 32px 46px 0 94px;
}
.logo{
    width: 135px;
    color: #3D37F1;
    font-size: 23px;
    font-family: 'Lato Bold', sans-serif;
    font-weight: bold;
}
.logo::after{
    content: "UiExpert";
    font-size: 23px;
    color: #4B647E;
    margin-left: 9px;
    font-family: 'Lato Light', sans-serif;
    font-weight: lighter;
}
.navigation{
    width: 424px;
    margin-left: 667px;
    display: flex;
    justify-content: space-between;
}
.li-text{
    color: #3D37F1;
    font-size: 14px;
    font-family: 'Lato Bold', sans-serif;
    font-weight: bold;
}

/* section 1 */
/* left block */
.section1{
    width: 1215px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 131px;
    margin-left: 94px;
}
.left-block{
    width: 453px;
    position: relative;
}
.section1-h2{
    font-size: 56px;
    color:#534D4D;
    font-family: 'Lato Bold', sans-serif;
}
.section1-p{
    margin-top: 25px;
    font-family: 'Roboto Regular', sans-serif;
}
.blue-div{
    width: 137px;
    height: 50px;
    background-color: #3D37F1;
    margin-top: 101px;
    margin-left: 25px;
    display: flex;
    align-items: center;
}
.circle1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3D37F1;
    position: absolute;
    top: 254px; right: 0; bottom: 0; left: 0;
    z-index: 1;
}
.circle2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3D37F1;
    position: absolute;
    top: 254px; right: 0; bottom: 0; left: 137px;
    z-index: 1;
}
.waving-hand{
    width: 22px;
    height: 20px;
    position: absolute;
    z-index: 3;
}
.wave-me-text{
    font-size: 17px;
    color: white;
    margin-left: 40px;
    font-family: 'Poppins Regular', sans-serif;
}

/* right block */
.right-block{
    background-image: url("../images/programmers.svg");
    width: 570px;
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 193px;
    /* background: url("../images/programmers.svg") center contain no-repeat; */
}
.programmers-image{
    width: 570px;
}