/* header */
.header{
    width: 1226px;
    display: flex;
    margin: 32px 46px 0 94px;
}
.logo{
    width: 135px;
    color: #3D37F1;
    font-size: 23px;
    font-family: 'Lato Bold', sans-serif;
    font-weight: bold;
}
.logo::after{
    content: "UiExpert";
    font-size: 23px;
    color: #4B647E;
    margin-left: 9px;
    font-family: 'Lato Light', sans-serif;
    font-weight: lighter;
}
.navigation{
    width: 424px;
    margin-left: 667px;
    display: flex;
    justify-content: space-between;
}
.li-text{
    color: #3D37F1;
    font-size: 14px;
    font-family: 'Lato Bold', sans-serif;
    font-weight: bold;
}

/* section 1 */
/* left block */
.section1{
    width: 1215px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 131px;
    margin-left: 94px;
}
.left-block{
    width: 453px;
}
.section1-h2{
    font-size: 56px;
    color:#534D4D;
    font-family: 'Lato Bold', sans-serif;
}
.section1-p{
    margin-top: 25px;
    font-family: 'Roboto Regular', sans-serif;
}
.blue-div{
    width: 188px;
    height: 50px;
    background-color: #3D37F1;
    margin-top: 101px;
    display: flex;
    align-items: center;
    border-radius: 25px;
}
.waving-hand{
    width: 22px;
    height: 20px;
    margin-left: 31px;
}
.wave-me-text{
    font-size: 17px;
    color: white;
    font-family: 'Poppins Regular', sans-serif;
    margin-left: 22px;
}

/* right block */
.right-block{
    background-image: url("../images/programmers.svg");
    width: 570px;
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 193px;
    /* background: url("../images/programmers.svg") center contain no-repeat; */
}
.programmers-image{
    width: 570px;
}

/* section 2 */
/* text-box */
.text-box{
    width: 507px;
    margin: 0 auto;
    margin-top: 230px;
}
.section2-h4{
    font-size: 14px;
    color: #3D37F1;
    font-family: 'Lato Bold', sans-serif;
    font-weight: bold;
    text-align: center;
}
.section2-h3{
    font-size: 28px;
    color: #5A5454;
    font-family: 'Lato Regular', sans-serif;
    text-align: center;
    margin-top: 15px;
}
.section2-p{
    font-size: 13px;
    color: #747474;
    font-family: 'Roboto Regular', sans-serif;
    text-align: center;
    margin-top: 20px;
}

/* wrap-box */
.wrap-box{
    width: 832px;
    margin: 0 auto;
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 95px;
}
.block{
    width: 263px;
    height: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.block:nth-child(1){
    background-image: linear-gradient(0deg, #EFB274, #F2B475);
}
.block:nth-child(2){
    background-image: linear-gradient(0deg, #259DBC, #3FE6E1);
}
.block:nth-child(3){
    background-image: linear-gradient(0deg, #463864, #654F98);
}
.block:nth-child(4){
    background-image: linear-gradient(0deg, #0F66C6, #387FCF);
    margin-top: 38px;
}
.block:nth-child(5){
    background-image: linear-gradient(0deg, #635DDB, #9693F0);
    margin-top: 38px;
}
.block:nth-child(6){
    background-image: linear-gradient(0deg, #C15A5D, #F47980);
    margin-top: 38px;
}

.block-image{
    width: 71px;
}
.block-h4{
    font-size: 16px;
    font-family: 'Lato Regular', sans-serif;
    color: white;
    text-align: center;
    margin-top: 40px;
}
.block-p{
    font-size: 11px;
    font-family: 'Roboto Regular', sans-serif;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.read-more-block{
    width: 93px;
    height: 32px;
    border-color: white;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}
.read-more-text{
    font-size: 11px;
    font-family: 'Roboto Regular', sans-serif;
}
.read-more-block:hover{
    background-color: white;
    color: #4B647E;
}